/* transparent-color */
.navbar-color{
    background-color:rgba(0,0,0,0.5); 
}

.nav-item:hover{
    font-size: 20px;
}

.navbar{
    z-index: 2;
}

.about-image{
    border-radius: 50%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.logo-edu{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    font-size: 35px;
}

.logo-project{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 40px;
    margin: auto;
    text-align: center;
    font-size: 30px;
}

.testimonial-names{
    padding: 10px;
}
.testimonial-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}



